body { background: #8618b1; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 14px; display: flex; }
.block-cache-0 { color: #e2f778; font-size: 16px; margin-bottom: 5px; }
.block-auth-1 { color: #32d7c6; font-size: 21px; margin-bottom: 5px; }
.block-search-2 { color: #58e8a6; font-size: 20px; margin-bottom: 5px; }
.block-sms-3 { color: #9ddb70; font-size: 21px; margin-bottom: 5px; }
.block-product-4 { color: #f478af; font-size: 19px; margin-bottom: 5px; }